.span3
  .box
    .box-title
      About The Author
    .box-content
      .row-fluid
        .span6
          .img
            = link_to image_tag('zach.jpg', width: "190"), 'http://github.com/wzcolon'
        .span6
          .contact-info
            %h4 Contact Info
            %ul.no-bullets.no-indent
              %li
                %i.icon-briefcase
                704.916.9224
              %li 
                .visible-desktop
                  %i.icon-envelope
                  = mail_to 'zcolon80@gmail.com'
                .hidden-desktop
                  %i.icon-envelope
                  = mail_to 'Email', 'zcolon80@gmail.com'
              %li
                %i.icon-share
                = link_to "Github Profile", 'http://github.com/wzcolon'
              %li
                %i.icon-share
                = link_to "LinkedIn Profile", 'http://linkedin.com/pub/zach-colon/40/33/240'
.span9
  .box
    .box-title
      Applications
    .box-content
      %table.table.table-bordered
        %thead
          %tr
            %th Application Name
            %th Number of Requests
        %tbody
          - if !@applications.empty?
            - @applications.each do |app|
              %tr
                %td
                  = link_to app.name, application_report_path(app)
                %td
                  = app.request_logs.count
