.span3
  .box
    .box-title
      = "#{@application.name} Menu"
    .box-content
      = link_to "Home", root_path
.span9
  .box
    .box-title
      = @application.name
    .box-content{style: "height: 350px;"}
      %h4 Charts show averages of submitted requests.
      #chart1.chart
        = render 'pie_chart'
      #chart2.chart
        = render 'bar_chart'


